<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Zshop</title>
    <link href="./styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>Zshop</header>

    <div class="plans-container">
        <div class="plan-card">
        <h2>Original</h2>
        <p><b>$10/month</b></p>
        <p>This plan you have limited access to all feature</p>
        <a href="/subscribe?plan=original">Subscribe To Original Plan</a>
        </div>

        <div class="plan-card">
        <h2>Pro</h2>
        <p><b>$15/month</b></p>
        <p>This plan you have Unlimited access to all feature</p>
        <a href="/subscribe?plan=pro">Subscribe To Pro Plan</a>
        </div>
    </div>
</body>
</html>
